.quizz-play {
  height: 100%;
}

.orange-body {
  background-color: #f6a000;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.button:focus,
.button:active {
  outline: none;
}

.button[disabled],
fieldset[disabled] .button {
  cursor: not-allowed;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

code {
  background-color: #f5f5f5;
  color: #f14668;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
  text-align: left;
}

table th {
  color: #363636;
}

.introduction .container p {
  font-weight: 400 !important;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.buttons .button,
.buttons .hs-button {
  margin-bottom: 0.5rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth),
.buttons .hs-button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}

.buttons:last-child {
  margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
  margin-bottom: 1rem;
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large),
.buttons.are-small .hs-button:not(.is-normal):not(.is-medium):not(.is-large) {
  border-radius: 2px;
  font-size: 0.75rem;
}

.buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large),
.buttons.are-medium .hs-button:not(.is-small):not(.is-normal):not(.is-large) {
  font-size: 1.25rem;
}

.buttons.are-large .button:not(.is-small):not(.is-normal):not(.is-medium),
.buttons.are-large .hs-button:not(.is-small):not(.is-normal):not(.is-medium) {
  font-size: 1.5rem;
}

.buttons.has-addons .button:not(:first-child),
.buttons.has-addons .hs-button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.buttons.has-addons .button:not(:last-child),
.buttons.has-addons .hs-button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.buttons.has-addons .button:last-child,
.buttons.has-addons .hs-button:last-child {
  margin-right: 0;
}

.buttons.has-addons .button:hover,
.buttons.has-addons .hs-button:hover,
.buttons.has-addons .button.is-hovered,
.buttons.has-addons .is-hovered.hs-button {
  z-index: 2;
}

.buttons.has-addons .button:focus,
.buttons.has-addons .hs-button:focus,
.buttons.has-addons .button.is-focused,
.buttons.has-addons .is-focused.hs-button,
.buttons.has-addons .button:active,
.buttons.has-addons .hs-button:active,
.buttons.has-addons .button.is-active,
.buttons.has-addons .is-active.hs-button,
.buttons.has-addons .button.is-selected,
.buttons.has-addons .is-selected.hs-button {
  z-index: 3;
}

.buttons.has-addons .button:focus:hover,
.buttons.has-addons .hs-button:focus:hover,
.buttons.has-addons .button.is-focused:hover,
.buttons.has-addons .is-focused.hs-button:hover,
.buttons.has-addons .button:active:hover,
.buttons.has-addons .hs-button:active:hover,
.buttons.has-addons .button.is-active:hover,
.buttons.has-addons .is-active.hs-button:hover,
.buttons.has-addons .button.is-selected:hover,
.buttons.has-addons .is-selected.hs-button:hover {
  z-index: 4;
}

.buttons.has-addons .button.is-expanded,
.buttons.has-addons .is-expanded.hs-button {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.buttons.is-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth),
.buttons.is-centered:not(.has-addons) .hs-button:not(.is-fullwidth) {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.buttons.is-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth),
.buttons.is-right:not(.has-addons) .hs-button:not(.is-fullwidth) {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container.is-fluid {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1215px) {
  .container.is-widescreen {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1407px) {
  .container.is-fullhd {
    max-width: 1344px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

pre {
  overflow-x: auto;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  -o-border-image: initial;
  border-image: initial;
}

h1,
.modal-content .modal-title,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  color: currentColor;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

ul,
ol,
dd {
  color: currentColor;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 767px) {
  figure {
    margin-bottom: 0;
  }
}

p {
  font-size: 16px;
  font-size: 1rem;
}

.is-purple-light p {
  color: #fff;
}

ul > p:last-child,
ul > li:last-child,
div > p:last-child,
div > li:last-child {
  margin-bottom: 0;
}

h1,
.modal-content .modal-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
  text-transform: lowercase;
}

h1:first-letter,
.modal-content .modal-title:first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  h1,
  .modal-content .modal-title {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  .modal-content .modal-title {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
}

@media screen and (min-width: 769px) {
  h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .is-title-with-icon h2 {
    margin-bottom: 0;
  }
}

h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: bold;
  line-height: 1.5;
  color: #ed6965;
}

@media screen and (min-width: 769px) {
  h3 {
    font-size: 27px;
    font-size: 1.6875rem;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
}

@media screen and (min-width: 769px) {
  h4 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

h5 {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1;
}

a {
  color: #1d1d1b;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #1d1d1b;
}

button {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 900;
}

.introduction .container p {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

.container .buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container .buttons > a:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .container .buttons {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .container .buttons {
    display: block;
  }

  .container .buttons > a:not(:last-child) {
    margin-right: 20px;
  }
}

.introduction .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

input[type="submit"] {
  outline: 0;
}

body {
  letter-spacing: 0px;
  position: relative;
  min-height: 100%;
  font-family: inherit;
}

html {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

button {
  background: none;
  outline: none;
  border: none;
}

ol li,
ul li {
  list-style: none;
}

ol li li,
ul li li {
  margin-left: 20px;
}

ol {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

ol li {
  color: #1d1d1b;
}

.header ol li::before {
  color: #fff;
}

ol a {
  font-size: 12px;
  font-size: 0.75rem;
  color: #1d1d1b;
}

ol .sep {
  color: #1d1d1b;
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 5px;
  margin-left: 0.3125rem;
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.container {
  max-width: 1000px;
  padding: 20px;
}

@media screen and (min-width: 769px) {
  .container {
    padding-left: 30px;
    padding-left: 1.875rem;
    padding-right: 30px;
    padding-right: 1.875rem;
    padding-top: 40px;
    padding-top: 2.5rem;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    padding-left: 60px;
    padding-left: 3.75rem;
    padding-right: 60px;
    padding-right: 3.75rem;
    padding-top: 50px;
    padding-top: 3.125rem;
    padding-bottom: 50px;
    padding-bottom: 3.125rem;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    padding-left: 130px;
    padding-left: 8.125rem;
    padding-right: 130px;
    padding-right: 8.125rem;
    padding-top: 95px;
    padding-top: 5.9375rem;
    padding-bottom: 95px;
    padding-bottom: 5.9375rem;
  }
}

.introduction .container {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 40px;
}

.container--no-padding-left-right {
  padding-left: 0;
  padding-right: 0;
}

.header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .header .container {
    padding-right: 20px;
    padding-right: 8.125rem;
  }
}

.introduction .container h1 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  color: currentColor;
  text-transform: initial;
}

@media screen and (max-width: 767px) {
  .introduction .container h1 {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .introduction .container h1.introduction .container h1--page-detail {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

.introduction .container > *:last-child {
  margin: 0;
}

.introduction .container p {
  line-height: 1.2;
  color: currentColor;
  margin-bottom: 40px;
}

.introduction {
  position: relative;
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  min-height: 280px;
}

.introduction {
  padding: 0;
  min-height: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: auto;
  background-position: left top;
  background-blend-mode: multiply;
}

.introduction .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.introduction .container > ul:last-child {
  margin-top: 40px;
  margin-bottom: 0;
}

.button {
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 50px;
  background-color: #1d1d1b;
  color: #fff;
  border-color: #1d1d1b;
  font-weight: 800;
  text-transform: uppercase;
  height: 40px;
  height: 2.5rem;
}

@media screen and (max-width: 767px) {
  .button {
    white-space: initial !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 375px;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .button {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 14px;
    font-size: 0.875rem;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
  }
}

.button:hover,
.button:focus {
  background-color: #ffe60b;
  border-color: #ffe60b;
  color: #1d1d1b;
}

.container .buttons .button:hover,
.container .buttons .button:focus {
  background-color: #fff;
  border-color: #fff;
  color: #1d1d1b;
}

@media screen and (min-width: 768px) {
  .container .buttons .button {
    width: 200px;
    width: 12.5rem;
  }
}

.button[disabled] {
  background-color: black;
  border: unset;
}

.button[disabled]:hover,
.button[disabled]:focus {
  background-color: #ffe60b;
}

.header {
  position: relative;
  height: 130px;
  -webkit-box-shadow: 0px 25px 25px -25px #00000059;
  box-shadow: 0px 25px 25px -25px #00000059;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.header::after {
  content: "";
  position: absolute;
  background: url(./../../../../assets/img/fond-pixel.png) no-repeat top right;
  background-position: top right;
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  mix-blend-mode: multiply;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 769px) {
  .header::after {
    background-position: 0 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.introduction {
  background-color: #f6a000;
}

.header {
  background-color: #4ab69a;
}

.introduction {
  color: #fff;
}

p {
  font-size: 16px;
  font-size: 1rem;
}

.stepper-buttons {
  margin-top: 60px;
}

.mat-flat-button {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-width: 1px;
  height: 2.5rem;
  border-radius: 50px;
  background-color: #1d1d1b;
  color: #fff;
  border-color: #1d1d1b;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.15s ease-out;
}

.mat-flat-button.mat-primary {
  background-color: #1d1d1b;
  color: #ffffff;
  border-color: #1d1d1b;
}

.mat-flat-button.mat-primary:hover,
.mat-flat-button.mat-primary:focus {
  background-color: #ffe60b;
  color: #1d1d1b;
  border-color: #ffe60b;
}

.mat-flat-button.mat-accent {
  background-color: #1d1d1b;
  color: #ffffff;
  border-color: #1d1d1b;
}

.mat-flat-button.mat-accent:hover,
.mat-flat-button.mat-accent:focus {
  background-color: #ffe60b;
  color: #1d1d1b;
  border-color: #ffe60b;
}

.display-questions-btn {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  color: #1d1d1b;
  width: 17rem !important;
  width: 300px !important;
  margin-top: 20px;
  transition: 0.15s ease-out;
}

.display-questions-btn:hover,
.display-questions-btn:focus {
  color: #fff;
  background: #1d1d1b;
  border-color: #1d1d1b;
}

.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
  font: 500 20px/32px Raleway, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.container .article h2 {
  color: #1d1d1b;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: block;
  margin-top: 40px;
}

.quizz-card {
  margin-bottom: 40px;
  padding: 10px 30px 30px 30px;
  max-width: 1060px;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px #00000029;
  box-shadow: 0px 0px 20px #00000029;
}

.quizz-card-icon {
  float: right;
  font-size: 90px;
  position: absolute;
  right: 100px;
}

.is-question-correct .quizz-card-icon-wrong,
.is-question-wrong .quizz-card-icon-correct {
  display: none;
}

.is-question-correct .quizz-card-icon-correct,
.is-question-wrong .quizz-card-icon-wrong {
  display: block;
}

.quizz-card.is-question-wrong {
  background-color: #ed6965;
}

.quizz-card.is-question-correct {
  background-color: #4ab69a;
}

.quizz-card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 90px;
}

.quizz-card-question {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.quizz-score {
  width: 100%;
  margin-bottom: 200px;
}

.quizz-score-title {
  float: left;
}

.quizz-score-spinner {
  margin-bottom: 10px;
}

.quizz-score-value {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.timer {
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  .mat-flat-button {
    font-size: 14px;
    font-size: 0.875rem;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .mat-flat-button {
    width: 200px;
    width: 12.5rem;
  }
}
