<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" id="step6">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name"><span id="step1">Bonjour {{ currentUser.firstName }} !</span></h1>
    <a routerLink="/" class="logout-icon" (click)="onLogout()" id="step2">
      <mat-icon>power_settings_new</mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>today</mat-icon>
          <h4 mat-line>Mon CRA</h4>
        </a>
        <a mat-list-item routerLink="/users" routerLinkActive="active" *ngIf="isAdmin">
          <mat-icon mat-list-icon>insert_emoticone</mat-icon>
          <h4 mat-line>Utilisateurs</h4>
        </a>
        <a mat-list-item routerLink="/missions" routerLinkActive="active">
          <mat-icon mat-list-icon>work</mat-icon>
          <h4 mat-line>Missions</h4>
        </a>
        <a mat-list-item routerLink="/tracking" routerLinkActive="active" *ngIf="isAdmin">
          <mat-icon mat-list-icon>alarm</mat-icon>
          <h4 mat-line>Tracking</h4>
        </a>
        <a mat-list-item routerLink="/absences" routerLinkActive="active">
          <mat-icon mat-list-icon>hotel</mat-icon>
          <h4 mat-line>Absences</h4>
        </a>
        <a mat-list-item routerLink="/billing" routerLinkActive="active" *ngIf="isAdmin">
          <mat-icon mat-list-icon>euro_symbol</mat-icon>
          <h4 mat-line>Facturation</h4>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>