<div class="container">
  <div class="title">
    <h2>Ajouter une mission</h2>
  </div>
  <div class="content">
    <form [formGroup]="missionForm" (ngSubmit)="onSubmit(missionForm.value)">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" required />
          <mat-icon matSuffix>settings_voice</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Code projet</mat-label>
          <input matInput formControlName="code" required />
          <mat-icon matSuffix>assignment</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Date de démarrage</mat-label>
          <input matInput formControlName="startDate" />
          <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Technologies</mat-label>
          <input matInput formControlName="technologies" />
          <mat-icon matSuffix>code</mat-icon>
        </mat-form-field>
      </p>

      <a routerLink="/missions"
        ><button mat-flat-button color="basic">Annuler</button></a
      >
      <button mat-flat-button class="pull-right" color="primary" type="submit">
        Sauvegarder
      </button>
    </form>
  </div>
</div>
