<div class="filters">
  <mat-form-field>
    <mat-label>Filtrer par utilisateur</mat-label>
    <mat-select
      [formControl]="selectedUsers"
      (selectionChange)="onUserChange($event)"
      multiple
    >
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{ getUserName(user) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="results">
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="calendar" *ngIf="!isLoading">
    <full-calendar
      *ngIf="options"
      [editable]="options.editable"
      [droppable]="options.droppable"
      [height]="options.height"
      [events]="events"
      [header]="options.header"
      [locale]="options.locale"
      [plugins]="options.plugins"
      [weekends]="options.weekends"
      [eventOverlap]="options.eventOverlap"
      (eventReceive)="handleEventReceive($event)"
      (eventClick)="handleEventClick($event)"
    ></full-calendar>
  </div>
</div>
