.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-fab {
  margin: 0 40px 40px 0;
  width: 100px;
  height: 100px;
  line-height: 42px !important;
}

.mat-icon {
  font-size: 42px;
  height: 100px;
  width: 100px;
  line-height: 64px;
}

.mat-fab .mat-button-wrapper {
  padding: 16px 0;
  display: inline-block;
  line-height: 42px !important;
}
