<div class="full-size-container" onclick="onclick">
  <div class="center">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" required (keyup)="onKeyup()" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" required (keyup)="onKeyup()" />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
      <p>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </p>
      <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Valider</button>
    </form>
    <h2>&nbsp;</h2>
  </div>
</div>
