<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Login</mat-label>
          <input
            matInput
            formControlName="login"
            required
            (keyup)="onKeyup()"
          />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            formControlName="password"
            required
            (keyup)="onKeyup()"
          />
          <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
      </p>

      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

      <button mat-flat-button class="pull-right" color="primary" type="submit">
        Valider
      </button>
    </form>
    <h2>&nbsp;</h2>
  </div>
</div>
