.page-not-found {
  display: block;
  min-width: 680px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-emoji {
  color: #dadce0;
  font: 200px/1.25 sans-serif;
  margin-bottom: 24px;
}

.error-text {
  font: 400 24px/32px sans-serif;
  letter-spacing: normal;
  margin-bottom: 24px;
  white-space: pre-wrap;
}
