<div class="container">
  <div class="title">
    <h2>Ajouter un utilisateur</h2>
  </div>
  <div class="content">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstName" required />
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lastName" required />
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login" required />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" required />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-checkbox formControlName="isAdmin"
          >L'utilisateur est admin</mat-checkbox
        >
      </p>

      <br />

      <a routerLink="/users"
        ><button mat-flat-button color="basic">Annuler</button></a
      >
      <button mat-flat-button class="pull-right" color="primary" type="submit">
        Sauvegarder
      </button>
    </form>
  </div>
</div>
