/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.content {
  margin-bottom: 40px;
}

.mat-card {
  margin-bottom: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto 60px auto;
}

.container-nav {
  margin: 40px auto 20px auto;
}

.mat-card {
  width: 100%;
}

.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {
  margin: 32px 0 32px 0;
}

h2 {
  margin: 40px auto 20px auto;
}

.mat-card-subtitle .mat-icon-button {
  float: right;
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  padding: 0 0 0 20px;
}

.mat-table {
  width: 100%;
}

.mat-card {
  width: 100%;
}

.mat-form-field-type-mat-input {
  width: 100%;
}

.mat-slide-toggle {
  margin: 15px 0;
}

.mat-horizontal-content-container {
  padding: 30px 0 0 0 !important;
  width: 100%;
}

.mat-horizontal-content strong {
  display: block;
  margin-bottom: 15px;
}

.mat-progress-bar-fill::after {
  background-color: #f6a000;
}

.mat-progress-bar-buffer,
.mat-progress-bar-background {
  fill: #1d1d1b;
  background-color: #1d1d1b;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #4ab69a;
}

.mat-horizontal-stepper-header-container {
  display: none !important;
  width: 100%;
  margin-top: -30px;
  transition: 0.3s ease-out;
}

.mat-horizontal-stepper-header-container.show {
  display: block !important;
}

.mat-stepper-horizontal-line {
  display: none !important;
}

.mat-step-header {
  float: left;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #5cc4f1 !important;
}
