.is-question-correct .quizz-score-wrong,
.is-question-wrong .quizz-score-correct {
  display: none;
}

.is-question-correct .quizz-score-correct,
.is-question-wrong .quizz-score-wrong {
  display: block;
}

.timer {
  float: right;
  padding-right: 16px;
}

.action-buttons {
  padding-bottom: 20px;
}

.quizz-answers .mat-expansion-panel-header-title,
.quizz-answers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.quizz-answers .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.quizz-answers .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.quizz-answers {
  margin-top: 20px;
}
