<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="title">
    <h2 class="pull-left">Missions</h2>
    <h2 class="pull-right" *ngIf="isAdmin">
      <a routerLink="/missions/create">
        <button mat-flat-button color="primary">
          Ajouter
        </button>
      </a>
    </h2>
  </div>
  <div class="content">
    <table>
      <tr>
        <th>Nom</th>
        <th *ngIf="isAdmin">Code</th>
        <th>Date de démarrage</th>
        <th>Technologies</th>
        <th *ngIf="isAdmin"></th>
      </tr>
      <tr *ngFor="let mission of missions">
        <td>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Nom"
              [value]="mission.name"
              (keyup)="onEditName($event, mission)"
              [disabled]="!isAdmin"
            />
          </mat-form-field>
        </td>
        <td *ngIf="isAdmin">
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Code"
              [value]="mission.code"
              (keyup)="onEditCode($event, mission)"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Date de démarrage"
              [value]="mission.startDate"
              (keyup)="onEditStartDate($event, mission)"
              [disabled]="!isAdmin"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Technologies"
              [value]="mission.technologies"
              (keyup)="onEditTechnologies($event, mission)"
              [disabled]="!isAdmin"
            />
          </mat-form-field>
        </td>
        <td *ngIf="isAdmin">
          <button mat-icon-button (click)="onDelete(mission)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
