<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="isLoading">
  <div class="calendar" id="step3">
    <full-calendar *ngIf="options" [editable]="options.editable" [droppable]="options.droppable"
      [height]="options.height" [events]="events" [header]="options.header" [locale]="options.locale"
      [plugins]="options.plugins" [weekends]="options.weekends" [eventOverlap]="options.eventOverlap"
      (eventReceive)="handleEventReceive($event)" (eventClick)="handleEventClick($event)"></full-calendar>
  </div>

  <div #dragmissions class="drag-missions" [hidden]="isLoading" id="step4">
    <p>
      <strong>Missions disponibles</strong>
    </p>

    <mat-list>
      <mat-list-item *ngFor="let mission of missions" class="fc-mission">
        <mat-icon matListIcon>drag_indicator</mat-icon>
        <h3 matLine>{{ mission.name }}</h3>
      </mat-list-item>
    </mat-list>
  </div>

  <div #dragothers class="drag-others" [hidden]="isLoading" id="step5">
    <mat-list>
      <mat-list-item class="fc-other">
        <mat-icon matListIcon>drag_indicator</mat-icon>
        <h3 matLine>Absence</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>