<div class="main-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="logout()" matTooltip="Se déconnecter">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="updateTitle('Tableau de bord')" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line>Tableau de bord</h4>
        </a>
        <a mat-list-item routerLink="/users" (click)="updateTitle('Utilisateurs')" routerLinkActive="active"
          *ngIf="isAdmin">
          <mat-icon mat-list-icon>people</mat-icon>
          <h4 mat-line>Utilisateurs</h4>
        </a>
        <a mat-list-item routerLink="/quizz" (click)="updateTitle('Quizz')" routerLinkActive="active">
          <mat-icon mat-list-icon>sports_esports</mat-icon>
          <h4 mat-line>Quizz</h4>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>